---
version: '3'
services:
  yd.php:
    networks:
     - yd-network
    build:
      context: php
      args:
        DEBUG_HOST: "${DEBUG_HOST}"
    container_name: yd.php
    volumes:
    {% for project in projects %}
      - "{{ project["project_root"] }}:/home/nginx/{{ project["domain"] }}"
    {% endfor %}
  yd.nginx:
    networks:
      - yd-network
    build:
      context: nginx
    ports:
      - "443:443"
      - "80:80"
    container_name: yd.nginx
    volumes:
      - "./nginx/sites-available:/etc/nginx/conf.d"
      - "./nginx/ssl/:/etc/ssl"
    {% for project in projects %}
      - "{{ project["project_root"] }}:/home/nginx/{{ project["domain"] }}"
    {% endfor %}
{% if databases is defined %}
  yd.setup:
    networks:
     - yd-network
    build:
      context: database/setup
    container_name: yd.setup
    depends_on:
    {% for database in databases %}
      - "yd.{{ database['container_name'] }}"
    {% endfor %}
    volumes:
      - "./database/sql:/root/sql"
      - "./database/setup/entrypoint.sh:/entrypoint.sh"

{% endif %}
{% for database in databases %}
  yd.{{ database['container_name'] }}:
    networks:
     - yd-network
    build:
      context: database
    ports:
      - "{{ database['ports'] }}"
    container_name: yd.{{ database['container_name'] }}
    environment:
      MYSQL_ROOT_PASSWORD: "{{ database['root_password'] }}"
    volumes:
      - yd-{{ database['container_name'] }}:/var/lib/mysql
{% endfor %}
  yd.redis:
    networks:
     - yd-network
    build:
      context: redis
    ports:
      - "6379:6379"
    container_name: yd.redis
volumes:
{% for database in databases %}
  "yd-{{ database['container_name'] }}":
{% endfor %}
networks:
  yd-network: